/*
    Course: SU-CIS-130-101
    Author: Jeff Johnson
    Date: 06/19/2021
    Project: About A Company
    Subject: Assignment to create a company website.
    File Name: styles.css
*/

/* HTML formatting */
html {
  width: 100%;
  font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
/* Used wildcard to wipe default margins from project */
* { margin: 0%; }
/* body width and font styles */
body {
  font-family: 'Courier New CE', sans-serif;
  width: 100%;
}
/*Head & Footer formatting */
header {
  height:230px;
}

footer {
  clear: both;
  width: 100%;
  height: 75px;
  color:rgb(255,255,255);
  background-color: rgb(65,65,67);
}
footer a {
  color:rgb(255,255,255);
  background-color: rgb(65,65,67);
}

/*Navigation bar section, formatting the area and the contained nav list items */
nav {
  top: 0;

  width: 100%;
  background-color: rgb(255,255,255);
}
  nav > ul {
  list-style-type: none;
  font-size: 1.9em;
  text-transform: uppercase;
  padding: 0;
}
nav ul li {
  font-family: 'Courier New CE', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0, .4);
}
/*Style for making navbar sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}
/*end sticky */
/*more navbar formatting */
#navbar {
  overflow: hidden;
  height: 70px;
  z-index: 100;
}

/*borders between sections of the Store/Products page */
article div {
  clear: both;
  border-bottom:4px;
  border-style: inset;
  border-color: rgba(65,65,67,0.65);
  margin-top: 20px;
  margin-bottom:10px;
}
/* formatting the "main" section of the home/index page */
main {
  float:left;
  padding-left: 60px;
  padding-right:60px;

}
main p {
  font-size: 1.1em;
}
/*formats and styles for the navbar items */
#navbar a {
  text-decoration: none;
  display: inline;
  float: right;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 15px;
  height:50px;
  color: rgb(65,65,67);
  font-weight: bold;
}
#navbar a:hover {
  color: rgb(255,255,255);
  background-color: rgb(65,65,67);
  font-weight: bold;

}
/*Banner image layout*/
 .banner-image {
  background-image: url("banner.png");
  background-position: center;
  /*Banner image height*/
  height: 160px;
  width: 100%;
  /*Banner image positioning */
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}
/* More formatting of the index page, this time the indexbody class */
.indexbody {
  float: left;
}
/* h* tag format and styling */
#mainh1 {
  margin: auto;
  text-align: center;
  width: 50%;
  padding-bottom: 50px;
  color: rgb(65,65,67);
  font-family: 'Courier New CE', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0, .4);
}
h2 {
  color: rgb(65,65,67);
  font-family: 'Courier New CE', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0, .4);
}
h2, a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(65,65,67);
  font-family: 'Courier New CE', sans-serif;
}
/*Quote are from Aldo Leopold on the Main/Index page */
figure {

  background-color: #d3d3d3;
  height: 200px;
  width:300px;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
  margin-right:20px;

  padding-left:40px;
  padding-right: 40px;
  float: left;
}

blockquote {

  font-weight: 100;
	font-size: 1.3rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
  text-align: justify;

}
blockquote:before,
blockquote:after {
	position: absolute;
	color: #ADBABD;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
  float:left;
  padding-left: 10px;
  padding-right: 10px;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
  float: right;
  padding-right: 23px;
}

cite {
	line-height: 3;
	text-align: left;
}
/* Formatting of the specs lists on the Store/Product page */
article#products ul {
  padding-left: 100px;
  line-height: 150%;
  font-size: 1em;
}
/* Quote div massaging */
#quoteregion  {
  float:right;
}
/*pushing the product images and text around to fit better and give a clean look */
#products img{
  padding-bottom: 30px;
  padding-top: 20px;
}

#products{
  padding-right: 80px;
  padding-left: 80px;
  color: rgb(65,65,67);
  font-family: 'Courier New CE', sans-serif;
}
#products h2 {
  clear: both;
  color: rgb(65,65,67);
  font-family: 'Courier New CE', sans-serif;
}
/*More styling and formatting for headers on the Store/Product page */
#products h3,h4,h5 {
  padding-left: 100px;
  color: rgb(65,65,67);
  font-family: 'Courier New CE', sans-serif;
}
#products p {
  font-size: 1.1em;
}
/* Centering the closing div section on the Main/Index page, styling font */
#closing {
  clear: both;
  margin: auto;
  width: 50%;
  text-align: center;
}
#closing a {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(65,65,67);
}
/*format and style the footer for both pages */
textarea, footer {
  text-align: center;
  padding-top: 10px;
  background-color: rgb(65,65,67);
  color: rgb(255,255,255);
  font-weight: bold;
}
/* Formatting the Bridger logo positioning in the navbar */
#logo {
  float: left;
  padding-left: 50px;
}
/*formatting the area for the automatic slideshow to reside */
.slide-container {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;

}
.image-container {
  max-width: 540px;
  float: left;
  align-content: center;
  margin-bottom: 30px;


}
.slide-image {
  display: none;
  width: 540px;
  align-content: center;

}
/*Social Media icon formats and styles (links won't be clickable
Professor Markley, this business is fictitious) */
.socialMedia {
  width: 33%;
  float: right;
}

.fab {
  font-size: 1.5em;
  color: rgb(255,255,255);
  padding-right: 5px;
}
.contactFooter  {
  width: 33%;
  float: left;
}
#ftrinfo a {
  float: left;
  color: rgb(255,255,255);
  padding-left: 5px;
}
textarea #frtingo {
  text-align: left;
}
footer ul li {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  line-height: 1.5em;
}
footer div {
  padding-top: 6px;
}
